.messages {
  background-color: #0b141a;
  position: relative;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* overflow: hidden; */
}

.messages .messageform {
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  display: flex;
  padding: 0.5rem;
  background-color: #202c33;
  color: white;
  flex: 0;
  /* height: 3rem; */
  /* box-sizing: border-box; */
}

.messages input {
  flex: 1;
  font-size: 1.2rem;
  border-radius: 0.5em;
  outline: none;
  /* border: 2px solid white; */
  border: none;
  padding: 0.25rem 1rem;
  color: inherit;
  background-color: #2a3942;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  padding-block: 1rem;
  padding-inline: 2rem;
  max-width: 75vw; /* specified max width so that overflowing messages dont overflow the page*/
  /* max width is 75% in display grid of .content the width of .messages is 3fr and 1fr of users */
  box-sizing: border-box;
}

/* .messages button {
  background-color: transparent;
  outline: 1px solid green;
  outline: none;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.25rem 1.5rem;
  border-radius: 1rem;
  background-color: red;
} */
.messages button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.5em;
  opacity: 1;
  transition: all 0.15s ease;
  transform-origin: 50% 50%;
}

.messages button.gray {
  scale: 0.9 0.9;
  opacity: 0.4;
}

.header .status {
  font-size: 0.75em;
  /* letter-spacing: 0.1em; */
}

.header {
  padding: 1rem;
  flex: 0;
  /* box-shadow: 0 0 2px black; */
  /* margin-bottom: 2rem; */
  font-size: 1.2rem;
  background-color: var(--header);
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 4rem;
  box-sizing: border-box;
}

.header svg {
  background-color: var(--profile-bg);
  border-radius: 50%;
  /* background-color: red; */
}

.isMy.message {
  align-self: flex-end;
  padding-right: 1.5rem;
  background-color: #005c4b;

  padding-bottom: 0.75rem;
}

.message.isMy.arrow {
  border-radius: 1.5rem 0 1.5rem 1.5rem;

  &::after {
    right: -0.5rem;
    left: initial;
    scale: -1 1;
  }
}

.message {
  max-width: 55%;
  align-self: flex-start;
  padding: 0.5rem 1rem;
  width: fit-content;
  background-color: #202c33;

  position: relative;
  border-radius: 1.5rem;
  margin: 1px;
  /* margin: 0.1rem; */
  /* overflow: hidden; */
}

.message .text {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.message.arrow {
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    /* right: 0; */
    left: -0.5rem;
    aspect-ratio: 1/1;
    height: 2ch;
    width: 1rem;
    background-color: inherit;
    /* border-radius: 0.5rem; */
    clip-path: polygon(0 0, 100% 100%, 100% 0, 0 0);
  }
}

.right :last-child {
  font-size: 0.65em;
}

.typing .text span {
  /* color: blue; */
  display: inline-block;
  animation: osscilate 0.8s ease 0.3s infinite;
  /* translate: 0 100%; */
}

.typing .text span:nth-child(2) {
  animation: osscilate 0.8s ease 0.4s infinite;
}

.typing .text span:nth-child(3) {
  animation: osscilate 0.8s ease 0.5s infinite;
}

@keyframes osscilate {
  0% {
    transform: translateY(10%);
  }

  15% {
    transform: translateY(-50%);
  }

  30% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(10%);
  }
}

.message .status {
  position: absolute;
  bottom: 0;
  right: 0.75rem;
  letter-spacing: -0.5em;
  pointer-events: none;
}

.time {
  position: absolute;
  bottom: 0;
  right: 1.5rem;
  font-size: 0.7rem;
}
