.users {
  display: flex;
  flex-direction: column;
  /* width: min-content; */
  background-color: lightblue;
  padding: 1rem;
}

.user {
  position: relative;
}

.user.selected {
  background-color: cyan;
}
.user input {
  appearance: none;
  position: absolute;
}

.loggedUser {
  margin: 1rem;
}

.unread {
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  aspect-ratio: 1/1;
  height: auto;
  width: min-content;
  background-color: lightgreen;
  padding: 0.35rem;
  border-radius: 50%;
}
